# Ignorar carpetas completas
data/
Respaldo/
__pycache__/
installer/

# Ignorar archivos específicos
credentials.json
token.json
*.exe
*.bat
*.iss
*.backup_*
*.db
*.db-*
*.pyc
*.pyo
*.pyd

# Tokens y credenciales
token.json
credentials.json